/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

.container{
    width: 100vw;
    display: flex;
    flex-direction: row;
}

form{
    background-color: olivedrab;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    padding: 10px;
}

.menu-item{
   
}

#minimum-price{
    width: 50px;
}

#maximum-price{
    width: 50px;
}

